<div class="chat-container">
<div id="public" >
<div id="chat-box-public">
	<p>Welcome to Public chat</p>
	
</div>

 <%= form_tag chats_path, :remote => true do %>
  <%= text_area_tag :message, nil, :size => '20x5' %><br />
  <%= submit_tag "Send" %>
<% end %>
</div>

<div id ="private" >
	<h4>Users List</h4>
	<%= raw(userslist) %>
	<div id="chat-box-private">
	<p>Welcome to Privatechat chat</p>
	
</div>
	<%= form_tag chats_path, :remote => true do %>
  <%= text_area_tag :message, nil ,:size => '20x5', :class => 'private_message' %><br />
  <%=label_tag :"Type The Name Of User"%>
  <%= text_field_tag :user %><br />
  <%= submit_tag "Send" %>
<% end %>
	</div>






</div>
