<!DOCTYPE html>
<html>
<head>
  <title>Simplechat App</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
 <%= subscribe_to "/messages/public" %>
 <%  if user_signed_in?  %>
 <%= subscribe_to "/messages/private/#{current_user.name}" %>
 <% end %>
<script type="text/javascript">
PrivatePub.subscribe("/messages/public", function(data) {
$('<p></p>').html( data.msg).appendTo('#chat-box-public');

});
 <%  if user_signed_in?  %>
PrivatePub.subscribe("/messages/private/<%= current_user.name %>", function(data) {
$('<p></p>').html(data.name + ": " + data.msg).appendTo('#chat-box-private');
});
<% end %>
</script>
 
</head>
<body ng-app="chatApp">
	<div id="container" class="container">
  <header>
  	 <h1>Welcome To The Awesome Chat App Powered By Faye</h1>
  	  <%= render 'layouts/messages' %>
        <%= render 'layouts/navigation' %>
       
       
   </header>	
 <div id="main" role="main">
        <%= yield %>
      </div>
      <footer>
      	<p>Copyright@2013 All Rights Reserved </p>
      </footer>
</div>

</body>
</html>
